.btn {
    background-image: none;
    border-radius: 10px;
    display: inline-block;
    border-color: transparent;
}

.btn:hover, .btn:active, .btn:focus {
	border-color: transparent;
}

.btn-default {
	background-color: #FFF;
	border-color: #CCC;
}

.btn-default:hover {
	background-color: #E6E6E6;
	border-color: #ADADAD;
}

.btn-primary {
    background-color: #628599;
}

.btn-success {
    background-color: #62a69a;
}

.btn-info {
}

.btn-warning {
    background-color: #e5e388;
    color: #333333;
}

.btn-danger {
    background-color: #ff9999;
}

.btn-success:hover, .btn-success:focus {
    background-color: #538C82;
    color: white;
}

.btn-warning:hover, .btn-warning:focus {

}

.btn-danger:hover, .btn-danger:focus {

}