/* @import */
/* 	url(http://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900italic,900) */
/* 	; */

html {
	height: 100%;
}

body {
	font-family: 'Lato', sans-serif
}

.darkBackground {
	background: #2b2b2b;
	color: white;
}

.gradientBackground {
	color: #5b5a5a;
	background-color: #628599;
	background: -webkit-linear-gradient(#c6d8e2, #628599);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#c6d8e2, #628599);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#c6d8e2, #628599);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(#c6d8e2, #628599);
	/* Standard syntax (must be last) */
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,
		startColorstr='#c6d8e2', endColorstr='#628599'); /*For IE7-8-9*/
}

.background {
	color: #5b5a5a;
	background: #628599;
}

.title {
	font-size: large;
	color: white;
}

.titleBlack {
	font-size: large;
	color: black;
}

.titleOrange {
	font-size: large;
	color: #ef8660;
	font-weight: bold;
}

.titleBlue {
	font-size: large;
	color: #C6D8E2;
	font-weight: bold;
}

.titleDarkBlue {
	font-size: large;
	color: #628599;
}

.subtitle {
	color: black;
	text-align: right;
	font-size: small;
}

.logo {
	margin-top: 8px;
}

label {
	font-weight: normal;
}

.right-aligned-label {
	text-align: right;
	padding-top: 4px;
	height: 27px
}

.form-group {
	padding-bottom: 25px;
}

.page-header {
	margin: 40px 0 26px;
}

.page-wrapper {
	overflow: hidden;
	width: 100%;
	min-height: 100%;
	position: absolute;
	background-color: #ddd;
}

.form-space {
	margin-bottom: 30px;
}

.uploadButtons a {
	margin-right: 20px;
}

.nav>li>a {
	color: white;
}

.nav>li>a:hover, .nav>li>a:focus {
	text-decoration: none;
	background-color: transparent !important;
}

hr {
	border-top: 1px solid #c1c0c0;
	margin-top: 60px;
}

.navbar {
	background-color: #628599;
	height: 60px;
	-webkit-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
	box-shadow: inset 0px -5px 5px 0px rgba(0, 0, 0, 0.75);
}

.content-container {
	margin-top: 60px;
}

.disabledCriteriaDiv > .formItem {
    margin-left: 0;
}

.groupContent {
    margin: 17px 0 0 20px; 
}
.fa-rotate-45 {
 /* There is no setting for DXImageTransform to set to 45°...so set it to 90 here */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-space-inner {
	height: 15px;
}
.form-space {
	height: 20px;
}
.inputmask {
	width: 100px;
}
.portmask {
    width: 100px;
}
.clockpicker {
	width: 100px;
}
.minutegroup {
	width: 140px;
}
.input-group-addon {
  border-left-width: 0;
  border-right-width: 0;
}
.input-group-addon:first-child {
  border-left-width: 1px;
}
.input-group-addon:last-child {
  border-right-width: 1px;
}
#logTable_paginate {
	margin-bottom: 20px;
}
.confirmationRow div {
	margin-top: 5px;
}

.viewFieldsTable td {
    padding-left: 5px;
    padding-right: 5px;
}

.viewFieldsTable {
    margin-top: 5px;
    margin: 0 auto;
    background-color: white;
}

.viewFieldsTable th {
    padding-top: 5px;
}

.exportDatepickerLabel, .exportDatepickerConjunction {
    padding-top: 0.55em;
}

.exportDatepickerConjunction {
    text-align: center;
}

/* for file icons with text in them*/
.fa-stack-1x { top: .25em; }
.fa-stack {
  font-size: .5em;
  vertical-align: -16%;
}
.filetype-text {
  font-size: .65em;
  font-weight: 800;
}

.queryTreeContainer {
    padding-left: 25px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 15px;
    background-color: white;
    margin-bottom: 30px;
}

table.overviewTable tr td {
    vertical-align: middle;
}

table.overviewTable.dataTable tfoot td {
    padding: 14px 10px;
}

td.actionIcons a {
    margin-right: 5px;
}

.nav.navbar-nav li.active {
	background-color: #ddd;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-shadow: 11px -1px 4px -4px rgba(0, 0, 0, 0.75);
	padding-bottom: 10px;
}

.nav.navbar-nav li.active a {
    color: black;
}

.screenHeight {
    height: calc(100% - 60px);
    overflow-y: hidden;
}

.content-left {
	overflow: auto;
	height: 100%;
}

.queryBuilderPageWrapper.page-wrapper {
    height: 100%;
}

.queryBuilderPageWrapper.page-wrapper .row.queryBuilderRow {
    margin-right: 0;
}

.verticalRadioGroup td {
    padding: 15px;
}

.verticalRadioGroup td {
    padding: 15px;
}

.verticalRadioGroup td input[type="radio"] {
    margin-right: 5px;
}

.logTable .ui-state-active, .logTable .ui-widget-content .ui-state-active, .logTable .ui-widget-header .ui-state-active {
    background-color: #628599 !important;
    color: white !important;
    font-weight: normal !important;
}

.logTable .ui-state-hover, .logTable .ui-widget-content .ui-state-hover, .logTable .ui-widget-header .ui-state-hover {
    background-color: #628599 !important;
}