<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:sw="http://java.sun.com/jsf/composite/samplyShare"
      xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common">
    
    <h:head>
        <ui:insert name="metadata" />
        <title>
            <h:outputText value="#{applicationBean.getDisplayName()} - "/>
            <ui:insert name="title"/>
        </title>
        
        <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
        <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.min.css" />
        <!-- Optional theme -->
        <h:outputStylesheet name="css/bootstrap-theme.min.css" />
        <h:outputStylesheet library="webjar" name="font-awesome/css/font-awesome.css" />
        <h:outputStylesheet name="css/samplyShare.css" />
        <h:outputScript target="body">
            maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
                '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}');
        </h:outputScript>
        
        <h:outputScript library="webjar" name="jquery/js/jquery.min.js" />
        <h:outputScript library="webjar" name="jquery/js/jquery-ui.min.js" />  
        <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" />
        
    </h:head>
    <h:body class="background">
        <div class="page-wrapper #{pageWrapperAdditionalClass}">
            <sw:menu activePage="#{view.viewId}"></sw:menu>
            
            <ui:insert name="mainContent" />
        </div>
            
        <ssc:sessionTimeoutModal />
    </h:body>
</html>