<ui:composition template="/WEB-INF/templates/errorpage.xhtml"
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
>
    <ui:define name="contentTitle">Database access fail!</ui:define>
</ui:composition>