<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:composite="http://java.sun.com/jsf/composite" xmlns:o="http://omnifaces.org/ui" xmlns:c="http://java.sun.com/jsp/jstl/core">

<composite:interface>
</composite:interface>

<composite:implementation>
    <div>
        <h:outputScript>
        function checkPw() {
            var p1 = $('.newPass').val();
            var p2 = $('.newPassRepeat').val();
            console.log('p1: ' + p1 + ' - p2: ' + p2);
            return (p1 == p2);
        }
        </h:outputScript>
            <div class="modal fade" id="changePassword" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <h:form prependId="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">#{msg['menu.changePassword']}</h4>
                        </div>
                        <div class="modal-body">
                        
                            <div class="container-fluid">
                                <div class="form-group">
                                    <label for="currentPass" class="col-sm-3 control-label">#{msg['modal.oldPassword']}</label>
                                    <div class="col-sm-9">
                                        <h:inputSecret id="currentPass" name="currentPass" value="#{loginController.currentPass}" styleClass="form-control" />
                                    </div>
                                </div>

                                <div class="form-space" />

                                <div class="form-group">
                                    <label for="newPass" class="col-sm-3 control-label">#{msg['modal.newPassword']}</label>
                                    <div class="col-sm-9">
                                        <h:inputSecret id="newPass" name="newPass" value="#{loginController.newPass}" styleClass="form-control newPass" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="newPassRepeat" class="col-sm-3 control-label">#{msg['modal.newPasswordRepeat']}</label>
                                    <div class="col-sm-9">
                                        <h:inputSecret id="newPassRepeat" name="newPassRepeat" value="#{loginController.newPassRepeat}"
                                            styleClass="form-control newPassRepeat" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-9">
                                        <o:messages escape="false" id="messagesPass" showDetail="true" var="message">
                                            <div class="#{wu:getAlertClasses(message.severity)}" role="alert">
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                                <h4>#{message.summary}</h4>
                                                <p>#{message.detail}</p>
                                            </div>
                                        </o:messages>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">#{msg['modal.cancel']}</button>
                                <h:commandLink styleClass="btn btn-success" value="" id="changePassword"
                                     onclick="checkPw()">
                                    <f:ajax listener="#{loginController.changePassword}" execute="@form" render="@form" />
                                    <i class="fa fa-save fa-fw" /> #{msg['menu.changePassword']}
                                </h:commandLink>
                        </div>
                    </div>
                </div>
</h:form>
            </div>
    </div>
</composite:implementation>

</html>