<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"  
                xmlns:o="http://omnifaces.org/ui"
                xmlns:composite="http://java.sun.com/jsf/composite"
                xmlns:sw="http://java.sun.com/jsf/composite/samplyShare">

    <composite:interface>
        <composite:attribute name="chart" type="de.samply.share.model.Chart" 
                             required="true" />
        <composite:attribute name="index" required="true" 
                             type="java.lang.Integer"/>
    </composite:interface>

    <composite:implementation>
        <h:outputStylesheet name="css/jquery.jqplot.min.css" />
        <h:outputScript name="js/jqplot/jquery.jqplot.min.js" target="head" />
        <h:outputScript name="js/jqplot/jqplot.pieRenderer.min.js" target="head" />
        <h:outputScript name="js/jqplot/jqplot.categoryAxisRenderer.min.js" target="head" />
        <h:outputScript name="js/jqplot/jqplot.pointLabels.min.js" target="head" />
        <h:outputScript name="js/jqplot/jqplot.barRenderer.min.js" target="head"/>
        <h:outputScript name="js/jqplot/jqplot.canvasTextRenderer.min.js" target="head"/>
        <h:outputScript name="js/jqplot/jqplot.canvasAxisLabelRenderer.min.js" target="head"/>
        <h:outputScript name="js/jqplot/jqplot.canvasAxisTickRenderer.min.js" target="head"/>
        <h:outputScript name="js/charts.js" target="head" />

        <ui:fragment rendered="#{cc.attrs.chart ne null}">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div style="float:right;">
                            <h:commandLink action="#{chartDefinitionBean.editChartDefinition(cc.attrs.index)}">
                                <i class="fa fa-edit" />
                            </h:commandLink>
                            <h:outputLink value="#"
                                          onclick="showDeleteChartModal#{cc.attrs.index}();return false;">
                                <i class="fa fa-trash" />    
                            </h:outputLink>
                        </div>
                        <h:outputText value="#{MdrDataElementBean.getLabelText(cc.attrs.chart.chartDefinition.viewField1)}"/>
                    </h3>
                </div>
                <div class="panel-body">
                    <ui:fragment rendered="#{cc.attrs.chart.dataAvailable}">
                        <div id="chartDiv#{cc.attrs.index}"/>
                        <h:outputScript rendered="#{cc.attrs.chart.chartDefinition.type eq ChartType.PIE}">
                            makePieChart("chartDiv#{cc.attrs.index}", #{cc.attrs.chart.getXAsJsonArray()}, #{cc.attrs.chart.getYAsJsonArray()});
                        </h:outputScript>
                        <h:outputScript rendered="#{cc.attrs.chart.chartDefinition.type eq ChartType.HISTOGRAM}">
                            makeBarChart("chartDiv#{cc.attrs.index}", #{cc.attrs.chart.getXAsJsonArray()}, #{cc.attrs.chart.getYAsJsonArray()}, 
                            "#{MdrDataElementBean.getLabelText(cc.attrs.chart.chartDefinition.viewField1)}", "#{msg['charts.nofOccurences']}");
                        </h:outputScript>
                    </ui:fragment>
                    <ui:fragment rendered="#{not cc.attrs.chart.dataAvailable}">
                        <div style="text-align: center; vertical-align: middle">
                            <h:outputText value="#{msg['charts.noChart']}" />
                        </div>
                    </ui:fragment>
                </div>
            </div>
                
            <sw:modal title="#{msg['charts.deleteChartModalTitle']}"
                      modalId="DeleteChartModal#{cc.attrs.index}">
                <f:facet name="content">
                    <div class="row">
                        <div class="col-lg-12">
                            <h:outputFormat value="#{msg['charts.deleteChartText']}">
                                <f:param value="#{MdrDataElementBean.getLabelText(cc.attrs.chart.chartDefinition.viewField1)}" />
                            </h:outputFormat>
                        </div>
                    </div>
                </f:facet>
                <f:facet name="buttons">
                    <h:commandButton class="btn btn-success" 
                                     action="#{chartQueryGroupController.deleteChart(cc.attrs.index)}"
                                     value="#{msg['charts.deleteChart']}" />
                </f:facet>
            </sw:modal>
                
        </ui:fragment>
    </composite:implementation>
</ui:composition>