<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:composite="http://java.sun.com/jsf/composite" xmlns:o="http://omnifaces.org/ui" xmlns:wu="http://share.samply.de/webutils">

<composite:interface>
    <composite:attribute name="label" required="true" />
    <composite:attribute name="lowerBound" required="true" />
    <composite:attribute name="upperBound" required="true" />
</composite:interface>

<composite:implementation>
    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <h:outputLabel styleClass="exportDatepickerLabel" value="#{cc.attrs.label}" for="lowerBound" />
        </div>
        <div class="col-md-2">
            <div class="input-group datepicker">
                <h:inputText id="lowerBound" styleClass="form-control" value="#{cc.attrs.lowerBound}">
                    <!-- time zone set to server timezone, so there is no problem with conversion -->
                    <f:convertDateTime timeZone="#{wu:getServerTimeZone()}" pattern="#{view.locale eq 'de' ? 'dd.MM.yyyy' : 'yyyy/MM/dd'}" />
                </h:inputText>
                <span class="input-group-addon"> <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
        <div class="col-md-1 exportDatepickerConjunction">#{msg['export.dateConjunction']}</div>
        <div class="col-md-2">
            <div class="input-group datepicker">
                <h:inputText id="upperBound" styleClass="form-control" value="#{cc.attrs.upperBound}">
                    <f:convertDateTime timeZone="#{wu:getServerTimeZone()}" pattern="#{view.locale eq 'de' ? 'dd.MM.yyyy' : 'yyyy/MM/dd'}" />
                </h:inputText>
                <span class="input-group-addon"> <span class="fa fa-calendar"></span>
                </span>
            </div>
        </div>
    </div>
</composite:implementation>
</html>
