<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:o="http://omnifaces.org/ui"
    xmlns:composite="http://java.sun.com/jsf/composite" xmlns:wu="http://share.samply.de/webutils" xmlns:pass="http://xmlns.jcp.org/jsf/passthrough">

<composite:interface>

</composite:interface>

<composite:implementation>
    <div class="formContainer col-md-4 col-md-offset-4">

        <h:form>
            <div class="form-signin">
                <div class="pull-right logo">
                    <span class="titleBlack">OSSE</span><span class="titleDarkBlue">.Share</span>
                    <div class="subtitle">client</div>

                </div>
                <h2 class="form-signin-heading">#{msg['loginPanel.login']}</h2>

                <h:inputText type="text" styleClass="form-control" pass:placeholder="#{msg['loginPanel.username']}" value="#{loginController.user.username}"
                    pass:autofocus="true" />
                <h:inputSecret styleClass="form-control" pass:placeholder="#{msg['loginPanel.password']}" value="#{loginController.user.password}" />

                <h:commandButton styleClass="btn btn-md btn-primary btn-block" value="#{msg['loginPanel.doLogin']}" type="submit"
                    action="#{loginController.login}" />

                <div id="version" style="float: right; position: relative; top: -0.3em;" class="pull-right">
                    <small>#{wu:getVersionString()}</small>
                </div>


            </div>
            <o:messages escape="false" id="messages" showDetail="true" var="message">
                <div class="#{wu:getAlertClasses(message.severity)}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>#{message.summary}</h4>
                    <p>#{message.detail}</p>
                </div>
            </o:messages>
        </h:form>

    </div>
</composite:implementation>

</html>