<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:composite="http://java.sun.com/jsf/composite" xmlns:wu="http://share.samply.de/webutils"
    xmlns:share="http://java.sun.com/jsf/composite/samplyShare">

<composite:interface>
    <composite:attribute name="activePage" type="java.lang.String" />
</composite:interface>

<composite:implementation>
    <h:form>
        <div class="navbar navbar-fixed-top" style="position: absolute !important;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><span class="title">OSSE</span><span class="titleBlue">.Share</span></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <ui:fragment rendered="#{loginController.getLoggedUsername().toLowerCase() != 'admin'}">
                        <li class="#{(cc.attrs.activePage == 'incomingInquiries.xhtml' || cc.attrs.activePage == 'showInquiry.xhtml')  ? 'active' : ''}"><h:outputLink
                                value="incomingInquiries.xhtml">#{msg['menu.inquiries']}</h:outputLink></li>
                        <li
                            class="#{(cc.attrs.activePage == '/exportQueryBuilder.xhtml' || cc.attrs.activePage == '/exportOverview.xhtml' || cc.attrs.activePage == '/exportDefinition.xhtml')  ? 'active' : ''}">
                            <h:link outcome="exportOverview" value="#{msg['menu.dataExport']}" />
                        </li>
                        <li
                            class="#{(cc.attrs.activePage == '/chartGroupQueryBuilder.xhtml' || cc.attrs.activePage == '/chartsOverview.xhtml' || cc.attrs.activePage == '/chartQueryGroup.xhtml' || cc.attrs.activePage == '/chartDefinition.xhtml')  ? 'active' : ''}">
                            <h:link outcome="chartsOverview.xhtml" value="#{msg['charts.menuTitle']}" />
                        </li>
                        </ui:fragment>
                        <ui:fragment rendered="#{loginController.getLoggedUsername().toLowerCase() == 'admin'}">
                            <li class="#{(cc.attrs.activePage == 'configuration.xhtml' || cc.attrs.activePage == 'brokerList.xhtml') ? 'active' : ''}"><h:outputLink
                                    value="configuration.xhtml">#{msg['menu.configuration']}</h:outputLink></li>
                            <li class="#{cc.attrs.activePage == 'logViewer.xhtml' ? 'active' : ''}"><h:outputLink value="logViewer.xhtml">#{msg['menu.log']}</h:outputLink></li>
                        </ui:fragment>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">#{loginController.getLoggedUsername()} <b
                                class="caret"></b>
                        </a>
                            <ul class="dropdown-menu">
                                <li><a href="#" onclick="$('#changePassword').modal();"><i class="fa fa-gear"></i> #{msg['menu.changePassword']}</a></li>
                                <li class="divider"></li>
                                <li class="logoutElement"><h:commandLink action="#{loginController.logout}">
                                        <i class="fa fa-sign-out"></i> #{msg['menu.logout']}</h:commandLink></li>
                            </ul></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </h:form>
    <share:changePasswordModal />
</composite:implementation>
</html>