<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core">

    <h2>#{msg['si.contact']}</h2>
    <div class="row">
        <div class="col-lg-4">Name:</div>
        <div class="col-lg-8">#{inquiryController.selectedInquiryContact.title} #{inquiryController.selectedInquiryContact.firstname}
            #{inquiryController.selectedInquiryContact.lastname}</div>
    </div>
    <div class="row">
        <div class="col-lg-4">#{msg['si.phone']}:</div>
        <div class="col-lg-8">#{inquiryController.selectedInquiryContact.phone}</div>
    </div>
    <div class="row">
        <div class="col-lg-4">Email:</div>
        <div class="col-lg-8">
            <h:outputLink value="mailto:#{inquiryController.selectedInquiryContact.email}">
                <f:param name="subject" value="#{msg['si.subject']}" />
                <h:outputText value="#{inquiryController.selectedInquiryContact.email}" />
            </h:outputLink>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">#{msg['si.institution']}:</div>
        <div class="col-lg-8">#{inquiryController.selectedInquiryContact.organization}</div>
    </div>
    <div class="row" style="margin-bottom: 20px;">
        <div class="col-lg-4">#{msg['si.expose']}:</div>
        <div class="col-lg-8">
            <h:outputLink value="#{inquiryController.selectedInquiry.exposeLocation}" target="_new">
                <h:graphicImage library="images" name="pdf.svg" alt="word" height="16" width="16" />
                <span><h:outputText value="#{msg['si.downloadExpose']}" /></span>
            </h:outputLink>
        </div>
    </div>
</ui:composition>