<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui"
    xmlns:mf="http://java.sun.com/jsf/composite/mdrfaces" xmlns:fn="http://java.sun.com/jsp/jstl/functions" xmlns:wu="http://share.samply.de/webutils">

    <h:outputStylesheet name="css/queryBuilder.css" />

    <div class="row">
        <div class="col-lg-12 disabledCriteriaDiv">
            <h2>#{msg['si.criteria']}</h2>
            <o:tree value="#{inquiryController.criteriaTree}" var="item" varNode="node">
                <o:treeNode>
                    <o:treeNodeItem rendered="#{item.mdrId.compareTo('conjunctionGroup') != 0}">
                        <ui:param name="isElementKnown" value="#{wu:isElementKnown(item.mdrId)}" />
                        <h:panelGroup layout="block" styleClass="formItem row vertical-center #{isElementKnown ? '' : 'unknownMdrElement'}">
                            <div class="col-xs-12" title="#{isElementKnown ? '' : msg.unknownMdrItem}">
                                <div class="row">
                                    <h:panelGroup layout="block">
                                        <div class="col-xs-4 mdrItemLabel">
                                            <mf:mdrLabel mdrId="#{item.mdrId}" />
                                        </div>

                                        <div class="col-xs-2 mdrItemOperator">
                                            <h:selectOneMenu styleClass="form-control hasTooltip operatorSelect" value="#{item.operator}" disabled="true">
                                                <f:selectItems value="#{inquiryController.operatorList}" var="op" itemLabel="#{msg[op]}" itemValue="#{op}"></f:selectItems>
                                            </h:selectOneMenu>
                                        </div>

                                        <h:panelGroup layout="block" styleClass="values" rendered="#{!fn:endsWith(item.operator.name, 'null')}">
                                            <h:panelGroup layout="block" styleClass="valuesSingle"
                                                rendered="#{!('BETWEEN'.equalsIgnoreCase(item.operator.name))}">
                                                <div class="col-xs-6 mdrItemValue">
                                                    <mf:mdrInput mdrId="#{item.mdrId}" value="#{item.value}" />
                                                </div>
                                            </h:panelGroup>

                                            <h:panelGroup layout="block" styleClass="valuesBetween" rendered="#{'BETWEEN'.equalsIgnoreCase(item.operator.name)}">
                                                <div class="col-xs-3 mdrItemValue mdrItemValueFrom">
                                                    <mf:mdrInput mdrId="#{item.mdrId}" value="#{item.lowerBound}" />
                                                </div>
                                                <div class="col-xs-3 mdrItemValue mdrItemValueTo">
                                                    <mf:mdrInput mdrId="#{item.mdrId}" value="#{item.upperBound}" />
                                                </div>
                                            </h:panelGroup>
                                        </h:panelGroup>
                                    </h:panelGroup>
                                </div>
                            </div>
                        </h:panelGroup>
                        <o:treeInsertChildren />
                    </o:treeNodeItem>
                    <o:treeNodeItem rendered="#{item.mdrId.compareTo('conjunctionGroup') == 0}">
                        <h:panelGroup layout="block" styleClass="formItem row vertical-center conjunctionGroupItem">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-11">
                                        <div class="row conjunctionGroup">
                                            <div class="col-xs-2">
                                                <h:selectOneMenu styleClass="form-control" value="#{item.conjunction}">
                                                    <f:selectItem itemLabel="AND" itemValue="AND" />
                                                    <f:selectItem itemLabel="OR" itemValue="OR" />
                                                </h:selectOneMenu>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h:panelGroup layout="block" style="min-height: 50px;">
                                            <div class="groupContent">
                                                <o:treeInsertChildren />
                                            </div>
                                        </h:panelGroup>
                                    </div>
                                </div>
                            </div>
                        </h:panelGroup>
                    </o:treeNodeItem>
                </o:treeNode>
            </o:tree>
            <br />
        </div>
    </div>
</ui:composition>