<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"  
                xmlns:o="http://omnifaces.org/ui" >
    
    <h:form id="localValuesForm">
        <h:inputHidden id="exportDefinitionId"
                       value="#{exportController.exportDefinition.id}" />
        <h:inputHidden id="exportDefinitionName"
                       value="#{exportController.exportDefinition.name}" />
        <h:inputHidden id="serializedQuery"
                       value="#{exportController.exportDefinition.query}"  />
        <h:inputHidden id="serializedViewFields"
                       value="#{exportController.exportDefinition.viewFields}" />
        <h:inputHidden id="changedFrom"
                       value="#{exportController.exportDefinition.changedFrom}">
            <f:convertDateTime />
        </h:inputHidden>
        <h:inputHidden id="changedTo"
                       value="#{exportController.exportDefinition.changedTo}">
            <f:convertDateTime />
        </h:inputHidden>
        <h:inputHidden id="createdFrom"
                       value="#{exportController.exportDefinition.createdFrom}">
            <f:convertDateTime />
        </h:inputHidden>
        <h:inputHidden id="createdTo"
                       value="#{exportController.exportDefinition.createdTo}">
            <f:convertDateTime />
        </h:inputHidden>
        <h:inputHidden id="episodeFrom"
                       value="#{exportController.exportDefinition.episodeFrom}">
            <f:convertDateTime />
        </h:inputHidden>
        <h:inputHidden id="episodeTo"
                       value="#{exportController.exportDefinition.episodeTo}">
            <f:convertDateTime />
        </h:inputHidden>
        <o:commandScript name="submitLocallyStoredValues" 
                         execute="@form"
                         action="#{exportController.restore()}" />
    </h:form>

    <h:outputScript target="head">
        var restorationProperties = {
            'samply.share.client.export.id' : '#localValuesForm\\:exportDefinitionId',
            'samply.share.client.export.name' : '#localValuesForm\\:exportDefinitionName',
            'samply.share.client.export.query' : '#localValuesForm\\:serializedQuery', 
            'samply.share.client.export.viewFields' : '#localValuesForm\\:serializedViewFields',
            'samply.share.client.export.changedFrom' : '#localValuesForm\\:changedFrom', 
            'samply.share.client.export.changedTo' : '#localValuesForm\\:changedTo', 
            'samply.share.client.export.createdFrom' : '#localValuesForm\\:createdFrom', 
            'samply.share.client.export.createdTo' : '#localValuesForm\\:createdTo', 
            'samply.share.client.export.episodeFrom' : '#localValuesForm\\:episodeFrom', 
            'samply.share.client.export.episodeTo' : '#localValuesForm\\:episodeTo'
        };
    </h:outputScript>
</ui:composition>