<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:o="http://omnifaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:sw="http://java.sun.com/jsf/composite/samplyShare" xmlns:wu="http://share.samply.de/webutils"
    xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common">

<h:head>
	<title>#{applicationBean.getDisplayName()} - #{msg['inqs.archivedInquiries']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
    <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.min.css" />
	<h:outputStylesheet name="css/bootstrap-theme.min.css" />
	<h:outputStylesheet name="css/signin.css" />
	<h:outputStylesheet name="css/samplyShare.css" />
	<h:outputStylesheet name="css/buttons.css" />

    <h:outputStylesheet library="webjar" name="font-awesome/css/font-awesome.css" />
    <h:outputScript library="webjar" name="jquery/js/jquery.min.js" />
    <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" />
    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
         '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
    </h:outputScript>
    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

</h:head>
<h:body class="background">
    <h:outputScript name="js/sessionTimeout.js" target="head" />

	<sw:menu activePage="incomingInquiries.xhtml"></sw:menu>
	<div class="page-wrapper">
		<div class="container content-container theme-showcase">
            <o:messages escape="false" id="messages" showDetail="true" var="message">
                <div class="#{wu:getAlertClasses(message.severity)}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>#{message.summary}</h4>
                    <p>#{message.detail}</p>
                </div>
            </o:messages>        
        
            <div class="page-header">
                <h1>#{msg['inqs.archivedInquiries']}
                    <span class="pull-right">
                        <small>
                            <h:form>
                                <h:outputLink value="incomingInquiries.xhtml" styleClass="btn btn-md btn-default" style="margin-left: 5px;">#{msg['inqs.toCurrent']}</h:outputLink>
                            </h:form>                       
                        </small>
                    </span>
                </h1>
            </div>

			<h:form styleClass="form-inline" role="form" id="brokerForm">
				<table class="table table-hover table-condensed">
					<thead>
						<tr>
							<th>Name</th>
							<th>#{msg['inqs.receivedAt']}</th>
							<th>#{msg['si.dealtWith']}</th>
						</tr>
					</thead>
					<tbody>
						<ui:repeat var="inq" value="#{inquiryController.archivedInquiries}" varStatus="inqStatus">
							<tr>
                                <td>
                                    <h:link value="#{inq.label}" outcome="showInquiry" onclick="$('#pleaseWait').modal('show');">
                                        <f:param name="inquiryId" value="#{inq.id}" />
                                    </h:link>
                                    <i class="fa fa-info-circle fa-fw" title="#{msg['inqs.source']}: #{inquiryController.getBrokerNameById(inq.brokerId)}"/>
                                </td>
								<td>#{wu:convertTime(inq.receivedAt)}</td>
                                <td>#{msg[wu:getArchiveType(inq)]}</td>                      

							</tr>
						</ui:repeat>
					</tbody>
				</table>
			</h:form>
			<ssc:pleaseWaitModal />
            <ssc:sessionTimeoutModal />
		</div>
	</div>
</h:body>
</html>