<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" 
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui"
    xmlns:sw="http://java.sun.com/jsf/composite/samplyShare" xmlns:pass="http://xmlns.jcp.org/jsf/passthrough" xmlns:wu="http://share.samply.de/webutils" 
    xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common">

<h:head>
    <title>#{applicationBean.getDisplayName()} - #{msg['bl.brokerList']}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
    <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.min.css" />
    <h:outputStylesheet name="css/bootstrap-theme.min.css" />
    <h:outputStylesheet name="css/signin.css" />
    <h:outputStylesheet name="css/samplyShare.css" />
    <h:outputStylesheet name="css/buttons.css" />

    <h:outputStylesheet library="webjar" name="font-awesome/css/font-awesome.css" />
    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
         '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
    </h:outputScript>
    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>
    
</h:head>
<h:body class="background">
    <h:outputScript name="js/sessionTimeout.js" target="head" />

    <div class="page-wrapper">
        <sw:menu activePage="brokerList.xhtml"></sw:menu>
        <div class="container content-container theme-showcase">
            <div class="page-header">
                <h1>#{msg['bl.searchBroker']}</h1>
                <h4>
                    <h:outputLink value="configuration.xhtml">#{msg['bl.backToConfig']}</h:outputLink>
                </h4>
            </div>
            <h2>#{msg['bl.overview']}</h2>
            <h:form styleClass="form-inline" role="form" id="brokerForm">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>#{msg['bl.broker']}</th>
                            <th>#{msg['bl.email']}</th>
                            <th>#{msg['bl.status']}</th>
                            <th>#{msg['bl.lastCheck']}</th>
                            <th>#{msg['bl.delete']}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat var="broker" value="#{brokerController.brokerList}" varStatus="brokerStatus">
                            <c:set var="registrationStatus" value="#{brokerController.brokerMap[broker]}" />
                            <tr class="#{registrationStatus == 'unknownError' ? 'danger' : ''}">
                                <td>#{brokerStatus.index + 1}</td>
                                <!-- 							<td>#{broker.address}</td> -->
                                <td data-toggle="tooltip" data-placement="top" title="#{broker.address}">#{brokerController.getName(broker)}</td>
                                <td>#{broker.email}</td>
                                <ui:fragment rendered="#{registrationStatus == 'unknownError'}">
                                    <td>#{msg['bl.connectionFailed']}</td>
                                </ui:fragment>
                                <ui:fragment rendered="#{registrationStatus == 'notKnown'}">
                                    <td>#{msg['bl.notRegistered']}</td>
                                </ui:fragment>
                                <ui:fragment rendered="#{registrationStatus == 'registered'}">
                                    <td>#{msg['bl.registered']}</td>
                                </ui:fragment>
                                <ui:fragment rendered="#{registrationStatus == 'checkCredentials'}">
                                    <td>#{msg['bl.checkCreds']}</td>
                                </ui:fragment>
                                <ui:fragment rendered="#{registrationStatus == 'confirmationNeeded'}">
                                    <td>
                                        <div class="input-group input-group-sm">
                                            <h:inputText styleClass="form-control" binding="#{activationCode}" size="8" />
                                            <span class="input-group-btn">
                                                <h:commandButton value="#{msg['bl.completeActivation']}" styleClass="btn btn-default btn-sm" >
                                                    <f:ajax execute="@form" render="@form" listener="#{brokerController.sendActivationCode(broker, activationCode.value)}" />
                                                </h:commandButton>
                                            </span>
                                        </div>
                                    </td>
                                </ui:fragment>
                                <td>#{broker.lastChecked}</td>
                                <td>
                                    <h:commandLink value=""
                                        styleClass="btn btn-default btn-sm" action="#{brokerController.deleteBroker(broker)}">
                                        <span class="fa fa-trash-o"></span>
                                    </h:commandLink>
                                </td>
                            </tr>
                        </ui:repeat>
                    </tbody>
                </table>
            </h:form>

            <hr />

            <h2>#{msg['bl.joinNewBroker']}</h2>
            <h:form styleClass="form-horizontal" role="form" id="newBrokerForm">
                <div class="form-group" style="padding-bottom: 0;">
                    <label for="newBrokerAddress" class="col-sm-2 control-label">#{msg['bl.newAdress']}</label>
                    <div class="col-sm-6">
                        <h:inputText styleClass="form-control" pass:placeholder="#{msg['bl.newAdressPlaceholder']}" value="#{brokerController.newAddress}"
                            id="newBrokerAddress" size="60" required="true" requiredMessage="#{msg['bl.newAdressRequiredMsg']}" />                            
                    </div>
                </div>
                <div class="form-group" style="padding-bottom: 0;">
                    <label for="newBrokerEmail" class="col-sm-2 control-label">#{msg['bl.email']}</label>
                    <div class="col-sm-6">
                        <h:inputText styleClass="form-control" pass:placeholder="#{msg['bl.emailPlaceholder']}" value="#{brokerController.newMail}"
                            id="newBrokerEmail" size="40" required="true" requiredMessage="#{msg['bl.emailRequiredMsg']}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-6">
                        <h:commandButton id="newBrokerJoin" value="#{msg['bl.joinBtn']}" styleClass="btn btn-default btn-sm"
                            action="#{brokerController.register}" />
                    </div>
                </div>
                <o:messages escape="false" id="messages" showDetail="true" var="message">
                    <div class="#{wu:getAlertClasses(message.severity)}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>#{message.summary}</h4>
                        <p>#{message.detail}</p>
                    </div>
                </o:messages>
            </h:form>

        </div>
    </div>
    <ssc:sessionTimeoutModal />
    <h:outputScript library="webjar" name="jquery/js/jquery.min.js" />
    <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" />
</h:body>
</html>