<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html"   
                xmlns:sw="http://java.sun.com/jsf/composite/samplyShare"
                xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">#{msg['charts']} - #{msg['charts.query']}</ui:define>
    
    <ui:param name="pageWrapperAdditionalClass" value="queryBuilderPageWrapper" />
    
    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="groupId" value="#{chartQueryGroupController.groupId}" />
            <f:viewAction action="#{chartQueryGroupController.loadChartGroup()}" />
            <f:viewAction action="#{SearchController.setQueryController(chartQueryGroupController)}" />
        </f:metadata>
    </ui:define>
    
    <ui:define name="mainContent">
        <!-- no values are stored at the moment -->
        <h:form id="localValuesForm" />
        <h:outputScript target="head">
            var restorationProperties = {};
        </h:outputScript>
        <div class="row screenHeight content-container queryBuilderRow">
            <ssc:queryBuilder id="queryBuilderComponent" 
                              title="#{msg['charts.queryBuilderTitle']}"
                              backAction="#{chartQueryGroupController.gotoChartGroup()}" />
        </div>
    </ui:define>
</ui:composition>
