<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html"   
                xmlns:sw="http://java.sun.com/jsf/composite/samplyShare"
                xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">Chart definition</ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="groupId" value="#{chartQueryGroupController.groupId}" />
            <f:viewParam name="definitionIdx" value="#{chartDefinitionBean.definitionIdx}" 
                         required="#{!facesContext.postback}" />
            <f:viewAction action="#{chartQueryGroupController.loadChartGroup()}" />
            <f:viewAction action="#{viewFieldsSelector.init(chartDefinitionBean.chartDefinition)}" />
            <f:viewAction action="#{viewFieldsSelector.resetMenuItems()}" />
            <f:viewAction action="#{SearchController.setQueryController(chartQueryGroupController)}" />
        </f:metadata>
    </ui:define>
    
    <ui:define name="mainContent">
        <!-- needed for view field selector -->
        <h:outputStylesheet name="css/queryBuilder.css" />
        <div class="container content-container">
            <div class="page-header">
                <h1>#{chartDefinitionBean.definitionIdx lt 0 ? msg['charts.createChartDefinition'] : msg['charts.editChartDefinition']}</h1>
            </div>
            <h:form id="chartDefinitionForm">
                <fieldset>
                    <legend class="scheduler-border">#{msg['charts.selectType']}</legend>
                    <o:importConstants type="de.samply.share.client.core.enums.ChartType"
                                       var="ChartType" />
                    <h:selectOneRadio id="selectChartType"
                                      value="#{chartDefinitionBean.chartDefinition.type}"
                                      styleClass="verticalRadioGroup">
                        <f:selectItem itemValue="#{ChartType.PIE}" 
                                      itemLabel="#{msg['charts.ChartType.PIE']}" />
                        <f:selectItem itemValue="#{ChartType.HISTOGRAM}" 
                                      itemLabel="#{msg['charts.ChartType.HISTOGRAM']}" />
                        <f:ajax execute="selectChartType" render="@form" 
                                listener="#{chartDefinitionBean.deselectUnselectableItem()}" />
                    </h:selectOneRadio>
                </fieldset>
                <fieldset>
                    <legend class="scheduler-border">
                        <h:outputText value="#{msg['charts.selectViewField']}" />
                        <h:commandLink action="#{viewFieldsSelector.onMdrItemsRefresh}" binding="#{viewFieldsSelector.refreshButton}"
                            styleClass="btn btn-primary buttonMargin" title="#{msg['refreshMdrItems']}" onclick="$('#pleaseWait').modal('show');">
                            <f:ajax execute="@this" render="viewFieldsContainer"
                                onevent="function(data) { 
                                    if (data.status === 'complete') { 
                                        $('#pleaseWait').modal('hide'); 
                                    } 
                                }" />
                            <i class="fa fa-refresh" />
                        </h:commandLink>
                    </legend>
                    <h:panelGroup id = "viewFieldsContainer" styleClass="viewFieldsContainer" layout="block">
                        <h:message for="chartDefinitionForm" style="color:red" />
                        <table class="viewFieldsTable">
                            <thead><tr><th></th></tr></thead>
                            <tbody>
                                <h:outputScript target="head">
                                    function selectOnlyViewField(selectedIndex) {
                                        $('.viewFieldsTable input[type="radio"]').prop('checked', false);
                                        $('#viewFieldsTableRow' + selectedIndex + ' input[type="radio"]').prop('checked', true);
                                    }
                                </h:outputScript>
                                <ui:repeat id="selectOneViewField"
                                           value="#{viewFieldsSelector.menuItems}" 
                                           var="menuItem"
                                           varStatus="menuItemStatusVar">
                                    <ui:fragment rendered="#{chartDefinitionBean.renderItem(menuItem.mdrId)}">
                                        <tr id="viewFieldsTableRow#{menuItemStatusVar.index}">
                                            <td>
                                                <h:selectOneRadio value="#{viewFieldsSelector.selection[menuItemStatusVar.index]}" 
                                                                  onclick="selectOnlyViewField(#{menuItemStatusVar.index});"
                                                                  converter="javax.faces.Boolean">
                                                    <f:selectItem itemValue="#{true}" itemLabel="" />
                                                </h:selectOneRadio>
                                            </td>
                                            <td><ssc:formItem mdrId="#{menuItem.mdrId}"
                                                              designation="#{menuItem.designation}" definition="#{menuItem.definition}"
                                                              enumElementType="#{menuItem.enumElementType}" aStyleClass="#{menuItem.aStyleClass}"
                                                              iStyleClass="#{menuItem.iStyleClass}" />
                                            </td>
                                        </tr>
                                    </ui:fragment>
                                </ui:repeat>
                            </tbody>
                        </table>
                    </h:panelGroup>
                </fieldset>
                <div class="form-space"></div>
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-4">
                        <h:commandButton value="#{msg['modal.cancel']}"
                                         action="#{chartQueryGroupController.gotoChartGroup()}"
                                         styleClass="btn btn-default">
                            <!-- keep values in chartQueryController but discard values in chartDefinitionBean, so don't submit form -->
                            <f:ajax execute="@this" />
                        </h:commandButton>
                    </div>
                    <div class="col-sm-2">
                        <h:commandButton styleClass="btn btn-md btn-primary" 
                                         value="#{chartDefinitionBean.definitionIdx lt 0 ? msg['charts.addChartDefinition'] : msg['charts.takeChartDefinition']}"
                                         action="#{chartDefinitionBean.takeChartDefinition()}" />
                    </div>
                </div>
                <div class="form-space"></div>
            </h:form>
        </div>
        <ssc:pleaseWaitModal />
    </ui:define>
</ui:composition>