<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html"   
                xmlns:sw="http://java.sun.com/jsf/composite/samplyShare"
                xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">#{msg['charts']}</ui:define>

    <ui:define name="mainContent">
        <h:outputStylesheet name="css/jquery.dataTables.min.css" />
        <h:outputScript name="js/jquery.dataTables.min.js" target="head" />

        <div class="container content-container theme-showcase">

            <div class="page-header">
                <h1>#{msg['charts']}</h1>
            </div>
            <h:form>
                <table class="table table-hover overviewTable">
                    <thead>
                        <tr>
                            <th>#{msg['overview.number']}</th>
                            <th>#{msg['overview.name']}</th>
                            <th>#{msg['overview.action']}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat var="chartQueryGroup" 
                                   value="#{chartQueryGroupListBean.chartQueryGroups}" 
                                   varStatus="chartQueryGroupStatus">
                            <tr>
                                <td>
                                    #{chartQueryGroupStatus.index + 1}
                                </td>
                                <td>
                                    <h:link outcome="chartQueryGroup" 
                                            value="#{chartQueryGroup.name}">
                                        <f:param name="groupId" value="#{chartQueryGroup.id}" />
                                    </h:link>
                                </td>
                                <td class="actionIcons">
                                    <a href="#" 
                                       title="#{msg['charts.deleteGroup']}"
                                       onclick="showDeleteModal#{chartQueryGroup.id}();" >
                                        <span class="fa fa-fw fa-trash-o fa-lg hasTooltip" />
                                    </a>
                                    <sw:modal title="#{msg['charts.deleteModalTitle']}"
                                              modalId="DeleteModal#{chartQueryGroup.id}">
                                        <f:facet name="content">
                                            <h:outputFormat value="#{msg['charts.deleteWarningText']}" 
                                                            styleClass="col-md-12">
                                                <f:param value="#{chartQueryGroup.name}" />
                                            </h:outputFormat>
                                        </f:facet>
                                        <f:facet name="buttons">
                                            <h:commandButton class="btn btn-success" 
                                                             value="#{msg['charts.delete']}"
                                                             action="#{chartQueryGroupListBean.delete(chartQueryGroup.id)}" />
                                        </f:facet>
                                    </sw:modal>
                                </td>
                            </tr>
                        </ui:repeat>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <h:link styleClass="btn btn-md btn-primary" 
                                        outcome="chartGroupQueryBuilder" >
                                    <i class="fa fa-plus" style="margin-right: 10px;"/>
                                    <h:outputText value="#{msg['charts.createGroup']}" />
                                </h:link>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </h:form>
        </div>
        <div class="form-space" />

        <ssc:pleaseWaitModal />

        <h:outputScript target="head">
            $(document).ready(function(){
                $('.overviewTable').DataTable({
                    'bPaginate': false,
                    'searching': false,
                    'bInfo' : false,
                    'columns' : [ {"type" : "num"} , null, null ]
                });
            });
        </h:outputScript>

    </ui:define>

</ui:composition>