<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html"   
                xmlns:sw="http://java.sun.com/jsf/composite/samplyShare"
                xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils">

    <ui:define name="title">#{msg['charts.chartQueryGroup']}</ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="groupId" value="#{chartQueryGroupController.groupId}" />
            <f:viewAction action="#{chartQueryGroupController.loadChartGroup()}" />
            <f:viewAction action="#{chartQueryGroupController.createCharts()}" />
            <f:viewAction action="#{SearchController.setQueryController(chartQueryGroupController)}" />
        </f:metadata>
    </ui:define>

    <ui:define name="mainContent">

        <o:importConstants type="de.samply.share.client.core.enums.ChartType"
                           var="ChartType" />

        <div class="container content-container">
            <div class="page-header">
                <h1>
                    <h:outputText value="#{msg['charts.chartQueryGroup']}" />
                    <h:outputText value=": #{chartQueryGroupController.chartQueryGroup.name}"
                                  rendered="#{chartQueryGroupController.groupId ne null}" />
                </h1>
            </div>
            <h:form>
                <div class="row">
                    <div class="col-md-2">
                        <h:commandLink action="#{chartQueryGroupController.gotoChartDefinition()}" 
                                       title="#{msg['charts.addChartDefinition']}"
                                       styleClass="btn btn-md btn-primary">
                            <h:outputText value="#{msg['charts.addChartDefinition']}" />
                            <f:param name="definitionIdx" value="-1" />
                        </h:commandLink>
                    </div>
                </div>
                <div class="form-space"></div>
                
                <!-- put three charts in one row -->
                <ui:repeat value="#{chartQueryGroupController.charts}"
                           var="chart"
                           varStatus="chartVarStatus"
                           step="3">
                    <div class="row">
                        <div class="col-lg-4">
                            <sw:chart chart="#{chart}"
                                      index="#{chartVarStatus.index}" />
                        </div>
                        <div class="col-lg-4">
                            <sw:chart chart="#{chartQueryGroupController.charts[chartVarStatus.index + 1]}"
                                      index="#{chartVarStatus.index + 1}" />
                        </div>
                        <div class="col-lg-4">
                            <sw:chart chart="#{chartQueryGroupController.charts[chartVarStatus.index + 2]}"
                                      index="#{chartVarStatus.index + 2}" />
                        </div>
                    </div>
                    <div class="form-space"></div>
                </ui:repeat> 
                
                <fieldset>
                    <legend>#{msg['charts.query']}</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <h:commandButton styleClass="btn btn-md btn-primary" 
                                             style="margin-bottom: 10px;"
                                             value="#{msg['export.editQuery']}"
                                             action="chartGroupQueryBuilder"
                                             actionListener="#{chartQueryGroupController.keepInFlash()}" />
                        </div>
                    </div>
                    <h:panelGroup layout="block" 
                                  styleClass="row"
                                  rendered="#{SearchController.queryTreeNonTrivial}">
                        <div class="col-xs-12" >
                            <div class="queryTreeContainer">
                                <ssc:query queryTree="#{SearchController.queryTree}" />
                            </div>
                        </div>
                    </h:panelGroup>
                </fieldset>
                
                <ui:fragment rendered="#{chartQueryGroupController.groupId ne null}">
                    
                    <div class="form-space"></div>
                    
                    <fieldset>
                        <legend class="scheduler-border">#{msg['charts.chartQueryGroupName']}</legend>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 input-group">
                                <h:inputText value="#{chartQueryGroupController.chartQueryGroup.name}" 
                                             styleClass="form-control" />
                            </div>
                        </div>
                    </fieldset>
                </ui:fragment>
                
                <div class="form-space"></div>
                
                <div class="row">
                    <div class="col-sm-2 col-sm-offset-4">
                        <h:link outcome="chartsOverview" 
                                value="#{msg['charts.discard']}"
                                styleClass="btn btn-default" />
                    </div>
                    <div class="col-sm-2">
                        <h:commandButton styleClass="btn btn-md btn-primary" 
                                         value="#{msg['charts.saveChartQueryGroup']}" 
                                         type="button"
                                         rendered="#{chartQueryGroupController.groupId eq null}">
                            <!-- in case of a new chart definition, show dialog for name
                                 if the submission of the values has been successful -->
                            <f:ajax execute="@form" render="@form" 
                                    onevent="
                                    function(data) {
                                        if (data.status == 'success') {
                                            showChartDefinitionNameModal();
                                        }
                                    }"/>
                        </h:commandButton>
                        <h:commandButton action="#{chartQueryGroupController.save()}"
                                         value="#{msg['charts.saveChartQueryGroup']}"
                                         rendered="#{chartQueryGroupController.groupId ne null}"
                                         styleClass="btn btn-md btn-primary" />
                    </div>
                </div>
                <div class="form-space"></div>
            </h:form>
        </div>

        <!-- modal dialog for setting the name of the chart definition, 
             only rendered for a chart definition that has not been saved yet -->
        <h:form rendered="#{chartQueryGroupController.groupId eq null}">
            <sw:modal title="#{msg['charts.saveModalTitle']}"
                      modalId="ChartDefinitionNameModal">
                <f:facet name="content">
                    <div class="row">
                        <div class="col-lg-12">
                            <h:outputText value="#{msg['charts.setName']}" />
                        </div>
                        <div class="col-lg-12">
                            <h:inputText value="#{chartQueryGroupController.chartQueryGroup.name}" styleClass="form-control"/>
                        </div>
                    </div>
                </f:facet>
                <f:facet name="buttons">
                    <h:commandButton class="btn btn-success" 
                                     action="#{chartQueryGroupController.save()}"
                                     value="#{msg['charts.save']}" />
                </f:facet>
            </sw:modal>
        </h:form>
    </ui:define>
</ui:composition>
