<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:o="http://omnifaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:sw="http://java.sun.com/jsf/composite/samplyShare" xmlns:wu="http://share.samply.de/webutils"
    xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common">
    
<f:metadata>
	<f:viewParam name="inquiryId" value="#{inquiryController.selectedInquiryId}" />
	<f:event type="preRenderView" listener="#{inquiryController.loadInquiry}" />
</f:metadata>

<h:head>
	<title>#{applicationBean.getDisplayName()} - #{msg['ci.closeInquiry']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
    <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.min.css" />
	<h:outputStylesheet name="css/bootstrap-theme.min.css" />
	<h:outputStylesheet name="css/signin.css" />
	<h:outputStylesheet name="css/samplyShare.css" />
	<h:outputStylesheet name="css/buttons.css" />

    <h:outputStylesheet library="webjar" name="font-awesome/css/font-awesome.css" />
    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
         '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
    </h:outputScript>
    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

</h:head>
<h:body class="background">

	<div class="page-wrapper">
		<sw:menu activePage="closeInquiry.xhtml" />
		<div class="container content-container theme-showcase">
			<div class="page-header">
				<h1>#{msg['ci.closeInquiry']}</h1>
			</div>
			<h:form>
				<div class="form-group">
					<h:outputLabel for="archiveReason" value="#{msg['ci.archiveType']}" styleClass="col-sm-2 right-aligned-label no-padding-right" />
					<div class="col-sm-10">
						<h:selectOneRadio id="archiveReason" value="#{inquiryController.archiveType}" layout="pageDirection">
							<f:selectItem id="reason1" itemLabel="#{msg['ci.reasonPositive']}" itemValue="IA_POSITIVE_REPLY" />
							<f:selectItem id="reason2" itemLabel="#{msg['ci.reasonNegative']}" itemValue="IA_NEGATIVE_REPLY" />
                            <f:selectItem id="reason3" itemLabel="#{msg['ci.reasonNone']}" itemValue="IA_NO_REPLY" />
						</h:selectOneRadio>
					</div>
				</div>

				<div class="form-group">
					<h:outputLabel for="closeText" value="#{msg['ci.noteToSelf']}" styleClass="col-sm-2 right-aligned-label no-padding-right" />
					<div class="col-sm-10">
						<h:inputTextarea id="closeText" rows="5" cols="60" value="#{inquiryController.noteToSelf}" />
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-6" style="margin-top: 15px;">
						<h:commandButton id="closeInquiry" value="#{msg['ci.close']}" styleClass="btn btn-primary btn-sm" action="#{inquiryController.closeInquiry}" />
					</div>
				</div>
			</h:form>
		</div>
	</div>
    
    <ssc:sessionTimeoutModal />
    <h:outputScript library="webjar" name="jquery/js/jquery.min.js" />
    <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" />
	<h:outputScript library="js" name="samplyShare.js" />

</h:body>
</html>