<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:o="http://omnifaces.org/ui"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:sw="http://java.sun.com/jsf/composite/samplyShare" xmlns:wu="http://share.samply.de/webutils" 
    xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common">

<h:head>
    <title>#{applicationBean.getDisplayName()} - #{msg['configuration.configuration']}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
    <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.css" />
    <h:outputStylesheet name="css/bootstrap-theme.min.css" />
    <h:outputStylesheet name="css/signin.css" />
    <h:outputStylesheet name="css/samplyShare.css" />
    <h:outputStylesheet name="css/buttons.css" />
    <h:outputStylesheet name="css/jasny-bootstrap.min.css" />
    <h:outputStylesheet name="css/bootstrap-clockpicker.min.css" />
    <h:outputStylesheet name="css/bootstrap-switch.min.css" />
    <h:outputStylesheet library="webjar" name="font-awesome/css/font-awesome.css" />

    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
         '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
    </h:outputScript>

    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

</h:head>
<h:body class="background">

    <div class="page-wrapper">
        <sw:menu activePage="configuration.xhtml"></sw:menu>
        <div class="container content-container theme-showcase">
            <div class="page-header">
                <h1>#{msg['configuration.configuration']}</h1>
            </div>
            <h:form>
                <fieldset class="configurationGroup">
                    <legend class="scheduler-border">#{msg['configuration.decentralSearch']}</legend>
                    <div class="form-group">
                        <h:outputLabel for="collectInquiriesAt" value="#{msg['configuration.brokerPollTime']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <div class="input-group clockpicker">
                                <h:inputText id="collectInquiriesAt" styleClass="form-control" value="#{configurationController.configurationElement.collectInquiriesAt}" >
                                    <f:convertDateTime pattern="HH:mm" timeZone="CET" />
                                </h:inputText>
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>                                    
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="brokerList" value="#{msg['configuration.manageBrokers']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />

                        <div class="col-sm-9">
                            <h:outputLink value="brokerList.xhtml" id="brokerList">#{msg['configuration.toManagement']}</h:outputLink>
                        </div>
                    </div>
                </fieldset>

                <div class="form-space"></div>

                <fieldset class="configurationGroup">
                    <legend class="scheduler-border">#{msg['configuration.rorUpload']}</legend>
                    <div class="form-group">
                        <h:outputLabel for="automaticRorUpload" value="#{msg['configuration.automaticRorUpload']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:selectBooleanCheckbox id="automaticRorUpload" value="#{configurationController.configurationElement.automaticRorUpload}" styleClass="switch" />
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="automaticRorUploadAt" value="#{msg['configuration.dailyTime']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <div class="input-group clockpicker">
                                <h:inputText id="automaticRorUploadAt" styleClass="form-control" value="#{configurationController.configurationElement.rorUploadAt}" >
                                    <f:convertDateTime pattern="HH:mm" timeZone="CET" />
                                </h:inputText>
                                <span class="input-group-addon">
                                    <span class="fa fa-clock-o"></span>
                                </span>
                            </div>                                      
                        </div>
                    </div>
                    <div class="form-group">
                        <h:outputLabel for="rorList" value="#{msg['configuration.manageRor']}" styleClass="col-sm-3 right-aligned-label no-padding-right" />

                        <div class="col-sm-9">
                            <h:outputLink value="rorList.xhtml" id="rorList">#{msg['configuration.toManagement']}</h:outputLink>
                        </div>
                    </div>
                </fieldset>

                <div class="form-space"></div>

                <fieldset class="configurationGroup">
                    <legend class="scheduler-border">#{msg['configuration.networkSettings']}</legend>
                    <div class="form-group">
                        <h:outputLabel for="httpProxyURL" value="#{msg['configuration.httpProxyHost']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputText id="httpProxyURL" size="50" value="#{configurationController.configurationElement.httpProxyUrl}" styleClass="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="httpProxyPort" value="#{msg['configuration.httpProxyPort']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputText id="httpProxyPort" styleClass="form-control portmask"
                                value="#{configurationController.configurationElement.httpProxyPort}" />
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <h:outputLabel for="httpProxyUsername" value="#{msg['configuration.httpProxyUsername']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputText id="httpProxyUsername" size="50" value="#{configurationController.configurationElement.httpProxyUsername}" styleClass="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="httpProxyPassword" value="#{msg['configuration.httpProxyPassword']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputSecret id="httpProxyPassword" size="50"
                            value="#{configurationController.configurationElement.httpProxyPassword}" styleClass="form-control" redisplay="true"/>
                        </div>
                    </div>

                    <div class="form-space-inner"></div>

                    <div class="form-group">
                        <h:outputLabel for="httpsProxyURL" value="#{msg['configuration.httpsProxyHost']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputText id="httpsProxyURL" size="50" value="#{configurationController.configurationElement.httpsProxyUrl}" styleClass="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="httpsProxyPort" value="#{msg['configuration.httpsProxyPort']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputText id="httpsProxyPort" styleClass="form-control portmask"
                                value="#{configurationController.configurationElement.httpsProxyPort}" />
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="httpsProxyUsername" value="#{msg['configuration.httpsProxyUsername']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputText id="httpsProxyUsername" size="50" value="#{configurationController.configurationElement.httpsProxyUsername}" styleClass="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <h:outputLabel for="httpsProxyPassword" value="#{msg['configuration.httpsProxyPassword']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputSecret id="httpsProxyPassword" size="50" value="#{configurationController.configurationElement.httpsProxyPassword}" styleClass="form-control" redisplay="true" />
                        </div>
                    </div>

                    <div class="form-space"></div>

                    <div class="form-group">
                        <h:outputLabel for="proxyRealm" value="#{msg['configuration.proxyRealm']}" styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputText id="proxyRealm" size="50" value="#{configurationController.configurationElement.proxyRealm}" styleClass="form-control" />
                        </div>
                    </div>
                </fieldset>
            
                <div class="form-space"></div>

                <fieldset class="configurationGroup" disabled="#{empty applicationBean.mailServer}">
                    <legend class="scheduler-border">#{msg['configuration.mailSettings']}</legend>
                    
                    <div class="form-group">
                        <h:outputLabel for="mailReceiverAdress" value="#{msg['configuration.mailReceiverAdress']}"
                            styleClass="col-sm-3 right-aligned-label no-padding-right" />
                        <div class="col-sm-9">
                            <h:inputText id="mailReceiverAdress" size="50" value="#{configurationController.configurationElement.mailReceiverAdress}" styleClass="form-control" />
                        </div>
                    </div>                    
                    
                </fieldset>               

                <div class="form-space"></div>
                <hr />

                <div class="row">
                    <div class="col-sm-2 right-aligned-label no-padding-right"></div>
                    <div class="col-sm-3">
                        <h:commandButton styleClass="btn btn-md btn-primary" value="#{msg['configuration.save']}" type="submit"
                            action="#{configurationController.save}" />
                    </div>
                </div>
                <div class="form-space"></div>

    
            <o:messages escape="false" id="messages" showDetail="true" var="message" >
                <div class="#{wu:getAlertClasses(message.severity)}" role="alert" style="position: fixed; top: 70px; right: 5px; z-index: 999;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>#{message.summary}</h4>
                    <p>#{message.detail}</p>
                </div>
            </o:messages>
            </h:form>

        </div>
    </div>
    <ssc:sessionTimeoutModal />
    <h:outputScript library="webjar" name="jquery/js/jquery.min.js" />
    <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" />
    <h:outputScript library="js" name="jasny-bootstrap.min.js" />
    <h:outputScript library="js" name="bootstrap-clockpicker.min.js" />
    <h:outputScript library="js" name="bootstrap-switch.min.js" />
    <h:outputScript library="js" name="samplyShare.js" />
</h:body>
</html>