<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html"   
                xmlns:sw="http://java.sun.com/jsf/composite/samplyShare"
                xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <ui:define name="title">Export</ui:define>

    <ui:define name="mainContent">
        <f:metadata>
            <f:viewAction action="#{exportController.resetOsseEdcContext()}" />
        </f:metadata>
    
        <h:outputStylesheet name="css/jquery.dataTables.min.css" />
        <h:outputScript library="webjar" name="jquery/js/jquery.min.js" target="head" />
        <h:outputScript name="js/jquery.dataTables.min.js" target="head" />

        <ui:include src="/components/c_exportDefinitionLocalValues.xhtml" />

        <div class="container content-container theme-showcase">

            <div class="page-header">
                <h1>#{msg['export.overview']}</h1>
            </div>
            <o:importConstants type="de.samply.share.controller.ExportController.ExportType"
                               var="ExportType" />
            <h:form>
                <table class="table table-hover overviewTable">
                    <thead>
                        <tr>
                            <th>#{msg['overview.number']}</th>
                            <th>#{msg['overview.name']}</th>
                            <th>#{msg['overview.action']}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <ui:repeat var="exportDefinition" 
                                   value="#{exportDefinitionListBean.exportDefinitions}" 
                                   varStatus="exportDefinitionStatus">
                            <tr>
                                <td>
                                    #{exportDefinitionStatus.index + 1}
                                </td>
                                <td>#{exportDefinition.name}</td>
                                <td class="actionIcons">
                                    <h:commandLink title="#{msg['export.XML']}"
                                                   action="#{exportController.sendExport(exportDefinition, ExportType.XML)}">
                                        <span class="fa-2x">
                                            <span class="fa-stack ">
                                                <span class="fa-stack-1x filetype-text">XML</span>
                                                <i class="fa fa-file-o fa-stack-2x fa-4x"></i>
                                            </span>
                                        </span>
                                    </h:commandLink>
                                    <h:commandLink action="#{exportController.sendExport(exportDefinition, ExportType.ZIPPED_CSV)}"
                                                   title="#{msg['export.CSV']}">
                                        <span class="fa-2x">
                                            <span class="fa-stack ">
                                                <span class="fa-stack-1x filetype-text">CSV</span>
                                                <i class="fa fa-file-o fa-stack-2x fa-4x"></i>
                                            </span>
                                        </span>
                                    </h:commandLink>
                                    <h:link outcome="exportDefinition">
                                        <f:param name="definitionId" value="#{exportDefinition.id}" />
                                        <span class="hasTooltip fa fa-edit fa-lg" 
                                              title="#{msg['export.editExportDefinition']}" />
                                    </h:link>
                                    <a href="#" 
                                       title="#{msg['export.delete']}"
                                       onclick="showDeleteModal#{exportDefinition.id}();" >
                                        <span class="fa fa-fw fa-trash-o fa-lg hasTooltip" />
                                    </a>
                                    <sw:modal title="#{msg['export.deleteModalTitle']}"
                                              modalId="DeleteModal#{exportDefinition.id}">
                                        <f:facet name="content">
                                            <h:outputFormat value="#{msg['export.deleteWarningText']}" 
                                                            styleClass="col-md-12">
                                                <f:param value="#{exportDefinition.name}" />
                                            </h:outputFormat>
                                        </f:facet>
                                        <f:facet name="buttons">
                                            <h:commandButton class="btn btn-success" 
                                                             value="#{msg['export.delete']}"
                                                             action="#{exportDefinitionListBean.delete(exportDefinition.id)}" />
                                        </f:facet>
                                    </sw:modal>
                                </td>
                            </tr>
                        </ui:repeat>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <h:link styleClass="btn btn-md btn-primary" 
                                        outcome="exportDefinition" >
                                    <i class="fa fa-plus" style="margin-right: 10px;"/>
                                    <h:outputText value="#{msg['export.createDefinition']}" />
                                </h:link>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </h:form>
        </div>
        <div class="form-space" />

        <ssc:restoreQueryModal />
        <ssc:pleaseWaitModal />

        <h:outputScript target="head">
            $(document).ready(function(){
                $('.overviewTable').DataTable({
                    'bPaginate': false,
                    'searching': false,
                    'bInfo' : false,
                    'columns' : [ {"type" : "num"} , null, null ]
                });
            });
        </h:outputScript>
    </ui:define>
</ui:composition>