<?xml version="1.0" encoding="UTF-8"?>
<ui:composition template="/WEB-INF/templates/globalTemplate.xhtml"
                xmlns="http://www.w3.org/1999/xhtml" 
                xmlns:h="http://java.sun.com/jsf/html"   
                xmlns:sw="http://java.sun.com/jsf/composite/samplyShare"
                xmlns:ssc="http://java.sun.com/jsf/composite/samply-share-common"
                xmlns:o="http://omnifaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:wu="http://share.samply.de/webutils">

    <ui:define name="title">#{msg['export.dataExport']}</ui:define>

    <ui:define name="metadata">
        <f:metadata>
            <f:viewParam name="definitionId" value="#{exportController.exportDefinitionId}" />
            <f:viewAction action="#{exportController.loadExportDefinition()}" />
            <f:viewAction action="#{viewFieldsSelector.resetMenuItems()}" />
            <f:viewAction action="#{SearchController.setQueryController(exportController)}" />
        </f:metadata>
    </ui:define>
    
    <ui:define name="mainContent">
        <h:outputStylesheet name="css/bootstrap-datepicker3.standalone.min.css" />
        <h:outputScript library="js" name="bootstrap-datepicker.min.js" target="head"/>
        <h:outputScript library="js/locales" name="bootstrap-datepicker.de.min.js" target="head" />
        
        <div class="container content-container theme-showcase">
            <div class="page-header">
                <h1>#{msg['export.dataExport']}</h1>
            </div>
            <h:form id="exportDefinitionForm">
                <h:messages />
                <fieldset id="exportDateFieldset">
                    <legend class="scheduler-border">#{msg['export.filterDates']}</legend>

                    <sw:exportDatepicker id="changedDates"
                                         label="#{msg['export.changedBetween']}"
                                         lowerBound="#{exportController.exportDefinition.changedFrom}" 
                                         upperBound="#{exportController.exportDefinition.changedTo}" />
                    <sw:exportDatepicker id="createdDates"
                                         label="#{msg['export.createdBetween']}"
                                         lowerBound="#{exportController.exportDefinition.createdFrom}" 
                                         upperBound="#{exportController.exportDefinition.createdTo}" />
                    <sw:exportDatepicker id="episodeDates" 
                                         label="#{msg['export.episodeBetween']}"
                                         lowerBound="#{exportController.exportDefinition.episodeFrom}" 
                                         upperBound="#{exportController.exportDefinition.episodeTo}" />

                    <h:outputScript target="body">
                        $(function() {
                        
                            // remove mdrfaces datetimepicker
                            var exportDatePicker = $('#exportDateFieldset .datepicker input');
                            exportDatePicker.each(function() {
                                var datetimepicker = $(this).data("DateTimePicker");
                                if (typeof(datetimepicker) != "undefined") {
                                    datetimepicker.destroy();
                                }
                            });
                            exportDatePicker.datepicker({
                                language: '#{view.locale}',
                                format: "#{view.locale eq 'de' ? 'dd.mm.yyyy' : 'yyyy/mm/dd'}",
                                orientation: 'auto top',
                                clearBtn: true
                            });
                            // show datepicker on click on calender icon
                            exportDatePicker.parent().find('.input-group-addon').click(function() {
                                $(this).closest('.datepicker').find('input').focus();
                            });
                        });
                    </h:outputScript>
                </fieldset>
                <fieldset>
                    <legend class="scheduler-border">#{msg['export.query']}</legend>
                    <div class="row">
                        <div class="col-md-12">
                            <h:commandButton styleClass="btn btn-md btn-primary" 
                                             style="margin-bottom: 10px;"
                                             value="#{msg['export.editQuery']}"
                                             action="exportQueryBuilder"
                                             actionListener="#{exportController.serializeViewFieldsAndKeepExportDefinitionInFlash}" />
                        </div>
                    </div>
                    <h:panelGroup layout="block" 
                                  styleClass="row"
                                  rendered="#{SearchController.queryTreeNonTrivial}">
                        <div class="col-xs-12" >
                            <div class="queryTreeContainer">
                                <ssc:query queryTree="#{SearchController.queryTree}" />
                            </div>
                        </div>
                    </h:panelGroup>
                    <h:panelGroup layout="block" class="form-space" 
                                  rendered="#{not SearchController.queryTreeNonTrivial}" />
                </fieldset>

                <fieldset>
                    <legend class="scheduler-border">
                        <h:outputText value="#{msg['export.selectViewFields']}" />
                        <h:commandLink action="#{viewFieldsSelector.onMdrItemsRefresh}" binding="#{viewFieldsSelector.refreshButton}"
                            styleClass="btn btn-primary buttonMargin" title="#{msg['refreshMdrItems']}" onclick="$('#pleaseWait').modal('show');">
                            <f:ajax execute="@this" render="viewFieldsContainer"
                                onevent="function(data) { 
                                    if (data.status === 'complete') { 
                                        $('#pleaseWait').modal('hide'); 
                                    } 
                                }" />
                            <i class="fa fa-refresh" />
                        </h:commandLink>
                    </legend>
                    <h:panelGroup id="viewFieldsContainer" styleClass="viewFieldsContainer" layout="block">
                        <table class="viewFieldsTable">
                            <thead><tr><th></th></tr></thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <h:selectBooleanCheckbox id="selectAllOrNoneCheckbox"
                                                                 onchange="ViewFieldsSelector.checkOrUncheckAll();" 
                                                                 value="#{viewFieldsSelector.allSelected}" />
                                        <h:outputScript target="head">
                                            var ViewFieldsSelector = {
                                                getSelectAllOrNoneCheckbox : function() {
                                                    return $('#exportDefinitionForm\\:selectAllOrNoneCheckbox');
                                                },

                                                checkOrUncheckAll : function() {
                                                    var selectAllOrNone = ViewFieldsSelector.getSelectAllOrNoneCheckbox().prop('checked');
                                                    $('.viewFieldsTable input[type="checkbox"]').prop('checked', selectAllOrNone);
                                                },

                                                uncheckAllOrNoneCheckbox : function() {
                                                    ViewFieldsSelector.getSelectAllOrNoneCheckbox().prop('checked', false);
                                                }
                                            }
                                        </h:outputScript>
                                    </td>
                                    <td style="height: 2.5em;">
                                        <h:outputText value="#{msg['export.checkUncheckAll']}" />
                                    </td>
                                </tr>
                                <ui:repeat value="#{viewFieldsSelector.menuItems}" 
                                           var="menuItem"
                                           varStatus="menuItemStatusVar">
                                    <tr style="padding: 10px;margin:10px;">
                                        <td>
                                            <h:selectBooleanCheckbox value="#{viewFieldsSelector.selection[menuItemStatusVar.index]}" 
                                                                     onchange="ViewFieldsSelector.uncheckAllOrNoneCheckbox();" />
                                        </td>
                                        <td><ssc:formItem mdrId="#{menuItem.mdrId}"
                                                          designation="#{menuItem.designation}" definition="#{menuItem.definition}"
                                                          enumElementType="#{menuItem.enumElementType}" aStyleClass="#{menuItem.aStyleClass}"
                                                          iStyleClass="#{menuItem.iStyleClass}" />
                                        </td>
                                    </tr>
                                </ui:repeat>
                            </tbody>
                        </table>
                    </h:panelGroup>             
                </fieldset>

                <ui:fragment rendered="#{exportController.exportDefinitionId ne null}">
                    <fieldset>
                        <legend class="scheduler-border">#{msg['export.exportDefinitionName']}</legend>
                         <div class="row">
                            <div class="col-md-6 col-md-offset-3 input-group">
                                <h:inputText id="exportDefinitionNameInput"
                                             value="#{exportController.exportDefinition.name}" 
                                             styleClass="form-control" />
                            </div>
                         </div>
                    </fieldset>
                </ui:fragment>

                <div class="form-space"></div>

                <o:importConstants type="de.samply.share.controller.ExportController.ExportType"
                                   var="ExportType" />
                <div class="row">

                    <div class="col-sm-2 col-sm-offset-2">
                        <h:link outcome="exportOverview" 
                                value="#{msg['export.discard']}"
                                styleClass="btn btn-default" />
                    </div>
                    <div class="col-sm-2">
                        <h:commandButton styleClass="btn btn-md btn-primary" 
                                         value="#{msg['export.CSV']}"
                                         action="#{exportController.sendExport(ExportType.ZIPPED_CSV)}" />
                    </div>
                    <div class="col-sm-2">
                        <h:commandButton styleClass="btn btn-md btn-primary" 
                                         value="#{msg['export.XML']}"
                                         action="#{exportController.sendExport(ExportType.XML)}" />
                    </div>
                    <div class="col-sm-2">
                        <h:commandButton styleClass="btn btn-md btn-primary" 
                                         value="#{msg['export.saveExportDefinition']}" 
                                         type="button"
                                         rendered="#{exportController.exportDefinitionId eq null}">
                            <!-- in case of a new export definition, show dialog for name
                                 if the submission of the values has been successful -->
                            <f:ajax execute="@form" render="@form" 
                                    onevent="
                                    function(data) {
                                        if (data.status == 'success') {
                                            showExportDefinitionNameModal();
                                        }
                                    }"/>
                        </h:commandButton>
                        <h:commandButton styleClass="btn btn-md btn-primary"
                                         value="#{msg['export.saveExportDefinition']}"
                                         type="submit"
                                         rendered="#{exportController.exportDefinitionId ne null}" 
                                         action="#{exportController.save()}" />
                    </div>
                </div>
                <div class="form-space"></div>
                <o:commandScript name="performSerializationOnServerAndStoreResultLocally" 
                                 action="#{viewFieldsSelector.serializeViewFields(exportController.exportDefinition)}" 
                                 execute="@form"
                                 render="@form :localValuesForm" 
                                 oncomplete="writeValuesToLocalStorage();"/>
            </h:form>
        </div>

        <h:form id="localValuesForm">
            <h:inputHidden id="exportDefinitionId"
                           value="#{exportController.exportDefinitionId}" />
            <h:inputHidden id="serializedQuery"
                           value="#{exportController.exportDefinition.query}"  />
            <h:inputHidden id="serializedViewFields"
                           value="#{exportController.exportDefinition.viewFields}" />
            <o:commandScript name="submitLocallyStoredValues" 
                             execute="@form" />
        </h:form>
        
        <h:outputScript target="head">
            var restorationProperties = {
                'samply.share.client.export.id' : '#localValuesForm\\:exportDefinitionId',
                'samply.share.client.export.name' : '#exportDefinitionForm\\:exportDefinitionNameInput',
                'samply.share.client.export.query' : '#localValuesForm\\:serializedQuery', 
                'samply.share.client.export.viewFields' : '#localValuesForm\\:serializedViewFields',
                'samply.share.client.export.changedFrom' : '#exportDefinitionForm\\:changedDates\\:lowerBound', 
                'samply.share.client.export.changedTo' : '#exportDefinitionForm\\:changedDates\\:upperBound', 
                'samply.share.client.export.createdFrom' : '#exportDefinitionForm\\:createdDates\\:lowerBound', 
                'samply.share.client.export.createdTo' : '#exportDefinitionForm\\:createdDates\\:upperBound', 
                'samply.share.client.export.episodeFrom' : '#exportDefinitionForm\\:episodeDates\\:lowerBound', 
                'samply.share.client.export.episodeTo' : '#exportDefinitionForm\\:episodeDates\\:upperBound'
            };
        </h:outputScript>
        <h:outputScript target="head" name="js/queryRestoration.js" />
        
        <!-- modal dialog for setting the name of the export definition, 
             only rendered for a export definition that has not been saved yet -->
        <h:form rendered="#{exportController.exportDefinitionId eq null}">
            <sw:modal title="#{msg['export.saveModalTitle']}"
                      modalId="ExportDefinitionNameModal">
                <f:facet name="content">
                    <div class="row">
                        <div class="col-lg-12">
                            <h:outputText value="#{msg['export.setName']}" />
                        </div>
                        <div class="col-lg-12">
                            <h:inputText value="#{exportController.exportDefinition.name}" styleClass="form-control"/>
                        </div>
                    </div>
                </f:facet>
                <f:facet name="buttons">
                    <h:commandButton class="btn btn-success" 
                                     action="#{exportController.save()}"
                                     value="#{msg['export.save']}" />
                </f:facet>
            </sw:modal>
        </h:form>
        <ssc:pleaseWaitModal />
    </ui:define>
</ui:composition>