<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:o="http://omnifaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:sw="http://java.sun.com/jsf/composite/samplyShare" xmlns:wu="http://share.samply.de/webutils"
    xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common">

<h:head>
	<title>#{applicationBean.getDisplayName()} - #{msg['menu.inquiries']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
    <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.min.css" />
	<h:outputStylesheet name="css/bootstrap-theme.min.css" />
	<h:outputStylesheet name="css/signin.css" />
	<h:outputStylesheet name="css/samplyShare.css" />
	<h:outputStylesheet name="css/buttons.css" />

    <h:outputStylesheet library="webjar" name="font-awesome/css/font-awesome.css" />
    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
         '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
    </h:outputScript>
    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

</h:head>
<h:body class="background">

	<h:outputScript library="webjar" name="jquery/js/jquery.min.js" target="head" />
    <h:outputScript name="js/sessionTimeout.js" target="head" />
	<div class="page-wrapper">

	<sw:menu activePage="incomingInquiries.xhtml"></sw:menu>
		<div class="container content-container theme-showcase">
                <o:messages escape="false" id="messages" showDetail="true" var="message">
                    <div class="#{wu:getAlertClasses(message.severity)}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>#{message.summary}</h4>
                        <p>#{message.detail}</p>
                    </div>
                </o:messages>
			<div class="page-header">
				<h1>#{msg['menu.inquiries']}
                    <span class="pull-right">
                        <small>
                            <h:form prependId="false" id="triggerButtonForm">
                                <h:panelGroup id="triggerButtons">
                                    <ui:fragment rendered="#{applicationBean.isTaskRunning('CollectInquiriesTaskOsse')}">
                                        <button type="button" class="btn btn-info btn-md disabled" >
                                            #{msg['inqs.checkInProgress']} <i class="fa fa-spinner fa-spin"></i>
                                        </button>
                                    </ui:fragment>
                                    <ui:fragment rendered="#{!applicationBean.isTaskRunning('CollectInquiriesTaskOsse')}">
                                        <h:commandLink styleClass="btn btn-md btn-primary" value="" id="collectInquiries"
                                                    actionListener="#{inquiryController.collectInquiries}" title="#{msg['inqs.manualCheckTooltip']}">
                                                    #{msg['inqs.manualCheck']}
                                        <f:ajax process="@form" render="@form"/>            
                                        </h:commandLink>                                    
                                    </ui:fragment>
                                </h:panelGroup>
                                <h:outputLink value="archivedInquiries.xhtml" styleClass="btn btn-md btn-default" style="margin-left: 5px;">#{msg['inqs.toArchive']}</h:outputLink>
                            </h:form>                       
                        </small>
                    </span>
                </h1>
			</div>

			<h:form styleClass="form-inline" role="form" id="brokerForm">		
				<h:panelGroup layout="block" id="inquiryTableWrapper">
					<table class="table table-hover table-condensed">
						<thead>
							<tr>
                                <th>Name</th>
                                <th>#{msg['inqs.receivedAt']}</th>
								<th>#{msg['inqs.found']}</th>
                                <th>#{msg['inqs.asOf']}</th>
							</tr>
						</thead>                                      
						<tbody>
							<ui:repeat var="inq" value="#{inquiryController.inquiries}" varStatus="inqStatus">
								<tr>
                                    <td>
                                        <h:link value="#{inq.label}" outcome="showInquiry" onclick="$('#pleaseWait').modal('show');">
                                            <f:param name="inquiryId" value="#{inq.id}" />
                                        </h:link>
                                        <i class="fa fa-info-circle fa-fw" title="#{msg['inqs.source']}: #{inquiryController.getBrokerNameById(inq.brokerId)}"/>
                                    </td>
                                    <td>#{wu:convertTime(inq.receivedAt)}</td>
									<td>#{inquiryController.getResultCountById(inq.id)}</td>
                                    <td>#{wu:getExecutionDate(inq)}</td>
								</tr>
							</ui:repeat>
						</tbody>
					</table>
				</h:panelGroup>
                <div style="display:none;">
                    <h:commandButton styleClass="reloadInquiries">
                        <f:ajax listener="#{inquiryController.loadInquiries}" render="inquiryTableWrapper :triggerButtonForm"  />
                    </h:commandButton>
                </div>
			</h:form>
			<ssc:pleaseWaitModal />
		</div>
	</div>    
    <ssc:sessionTimeoutModal />
    <h:outputScript library="webjar" name="jquery/js/jquery.min.js" />
    <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" />
    <h:outputScript>
        function reloadInquiries() {
            $('.reloadInquiries').click();
            setTimeout(reloadInquiries,20000);
        };
        
        setTimeout(reloadInquiries,20000);
    </h:outputScript>
</h:body>
</html>