<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:o="http://omnifaces.org/ui"
	xmlns:s="http://java.sun.com/jsf/composite/samplyShare">

	<f:metadata>
		<f:viewParam name="signinToken" value="#{loginController.signinToken}" />
		<f:viewAction action="#{loginController.loginWithToken}" />
	</f:metadata>	

    <h:head>
    	<title>#{applicationBean.getDisplayName()}</title>	
    	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
        <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.min.css" />
    	<h:outputStylesheet library="css" name="bootstrap-theme.min.css" />	
    	<h:outputStylesheet name="css/signin.css" />
    	<h:outputStylesheet name="css/samplyShare.css" />
    	<h:outputStylesheet name="css/buttons.css" />
    
        <o:conditionalComment if="lt IE 9">
            <h:outputScript library="js" name="html5shiv.min.js" />
            <h:outputScript library="js" name="respond.min.js" />
        </o:conditionalComment>
        <h:outputScript library="webjar" name="jquery/js/jquery.min.js" />
        <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" target="head" />
    	
    </h:head>
    <h:body styleClass="gradientBackground">
        <f:view transient="true">
        	<s:loginPanel></s:loginPanel>
        </f:view>
    </h:body>
</html>