<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" xmlns:o="http://omnifaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:sw="http://java.sun.com/jsf/composite/samplyShare"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:wu="http://share.samply.de/webutils"
    xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common">

<h:head>
	<title>#{applicationBean.getDisplayName()} - Log</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
    <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.min.css" />
	<h:outputStylesheet name="css/bootstrap-theme.min.css" />
	<h:outputStylesheet name="css/signin.css" />
	<h:outputStylesheet name="css/samplyShare.css" />
	<h:outputStylesheet name="css/buttons.css" />
    <h:outputStylesheet library="webjar" name="font-awesome/css/font-awesome.css" />
    <h:outputStylesheet library="webjar" name="datatables/css/jquery.dataTables.min.css" />

    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
         '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
    </h:outputScript>
    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

</h:head>
<h:body class="background">
    <h:outputScript name="js/sessionTimeout.js" target="head" />

	<div class="page-wrapper">
		<sw:menu activePage="logViewer.xhtml"></sw:menu>
		<div class="container content-container theme-showcase">

            <h:form>
                <o:messages escape="false" id="messages" showDetail="true" var="message">
                    <div class="#{wu:getAlertClasses(message.severity)}" role="alert" stlye="margin-top: 20px;">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>#{message.summary}</h4>
                        <p>#{message.detail}</p>
                    </div>
                </o:messages>

                <div class="page-header">
                    <h1>#{msg['log.log']}</h1>
                </div>


                <table id="logTable" class="logTable table table-striped">
                    <thead> 
                        <tr>
                            <th>#{msg['log.user']}</th>
                            <th>#{msg['log.timestamp']}</th>
                            <th>#{msg['log.logger']}</th>
                            <th>#{msg['log.level']}</th>
                            <th>#{msg['log.type']}</th>
                            <th>#{msg['log.message']}</th>
                        </tr>
                    </thead>
                </table>
                <div style="display: none;">
                    <h:commandButton styleClass="reloadLog">
                        <f:ajax listener="#{logController.loadLogList}" render="logTable" />
                    </h:commandButton>
                </div>
            </h:form>
        </div>
	</div>
    
    <ssc:sessionTimeoutModal />
    <h:outputScript library="webjar" name="jquery/js/jquery.min.js" />
    <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" />
    <h:outputScript library="webjar" name="datatables/js/jquery.dataTables.min.js" />
    
    <h:outputScript name="js/date-de.js" />


	<h:outputScript library="js" name="samplyShare.js" />
    <h:outputScript>
        $(document).ready(function() {
            var logtable = $('#logTable').DataTable( {
                "ajax": "rest/log",
                 "columns": [
                    { "data": "user" },
                    { "data": "dated" },
                    { "data": "logger" },
                    { "data": "level" },
                    { "data": "type" },
                    { "data": "message" }
                 ],
                 "columnDefs": [
                    { type: 'de_datetime', targets: 1 }
                 ],
                 "order": [[ 1, "desc" ]]
            } );
            
            
            setInterval( function () {
                logtable.ajax.reload( null, false ); // user paging is not reset on reload
                $('.reloadLog').trigger('click');
            }, 2000 );
         });
    </h:outputScript>
</h:body>
</html>