<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core" 
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui"
	xmlns:sw="http://java.sun.com/jsf/composite/samplyShare" xmlns:pass="http://xmlns.jcp.org/jsf/passthrough" xmlns:wu="http://share.samply.de/webutils" 
    xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common">

<h:head>
	<title>#{applicationBean.getDisplayName()} - #{msg['ror.list']}</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
    <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.min.css" />
	<h:outputStylesheet name="css/bootstrap-theme.min.css" />
	<h:outputStylesheet name="css/signin.css" />
	<h:outputStylesheet name="css/samplyShare.css" />
	<h:outputStylesheet name="css/buttons.css" />
    <h:outputStylesheet library="webjar" name="font-awesome/css/font-awesome.css" />
    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
         '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
    </h:outputScript>
    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

</h:head>
<h:body class="background">
    <h:outputScript name="js/sessionTimeout.js" target="head" />

	<div class="page-wrapper">

	<sw:menu activePage="rorList.xhtml"></sw:menu>
		<div class="container content-container theme-showcase">
			<div class="page-header">
				<h1>#{msg['ror.rors']}</h1>
				<h4>
					<h:outputLink value="configuration.xhtml">#{msg['ror.backToConfig']}</h:outputLink>
				</h4>
			</div>
			<h2>Übersicht</h2>
			<h:form styleClass="form-inline" role="form" id="rorForm">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>#{msg['ror.ror']}</th>
							<th>#{msg['ror.lastUpload']}</th>
							<th>#{msg['ror.delete']}</th>
						</tr>
					</thead>
					<tbody>
						<ui:repeat var="ror" value="#{rorController.rorList}" varStatus="rorStatus">
							<tr class="#{registrationStatus == 'unknownError' ? 'danger' : ''}">
								<td>#{rorStatus.index + 1}</td>
								<td>#{ror.address}</td>
								<td>#{ror.lastUploadAt}</td>
								<td><h:commandLink value="" styleClass="btn btn-default btn-sm" action="#{rorController.deleteRor(ror)}">
										<span class="fa fa-trash-o"></span>
									</h:commandLink></td>
							</tr>
						</ui:repeat>
					</tbody>
				</table>
			</h:form>

			<hr />

			<h2>#{msg['ror.join']}</h2>
			<h:form styleClass="form-horizontal" role="form" id="newRorForm">
				<div class="form-group" style="padding-bottom: 0;">
					<label for="newBrokerAddress" class="col-sm-2 control-label">#{msg['ror.url']}</label>
					<div class="col-sm-6">
						<h:inputText styleClass="form-control" pass:placeholder="#{msg['ror.urlPlaceholder']}" value="#{rorController.newAddress}" id="newRorAddress" size="60"
							required="true" requiredMessage="#{msg['ror.urlRequired']}" />
					</div>
				</div>
				<div class="form-group" style="padding-bottom: 0;">
					<label for="newRorUsername" class="col-sm-2 control-label">#{msg['ror.username']}</label>
					<div class="col-sm-6">
						<h:inputText styleClass="form-control" pass:placeholder="#{msg['ror.usernamePlaceholder']}" value="#{rorController.newUsername}" id="newRorUsername" size="40"
							required="true" requiredMessage="#{msg['ror.usernameRequired']}" />
					</div>
				</div>
				<div class="form-group" style="padding-bottom: 0;">
					<label for="newRorPassword" class="col-sm-2 control-label">#{msg['ror.password']}</label>
					<div class="col-sm-6">
						<h:inputSecret styleClass="form-control" pass:placeholder="#{msg['ror.passwordPlaceholder']}" value="#{rorController.newPassword}" id="newRorPassword" size="40"
							required="true" requiredMessage="#{msg['ror.passwordRequired']}" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-6">
                        <h:commandButton id="newRorJoin" value="#{msg['ror.joinBtn']}" styleClass="btn btn-default btn-sm" action="#{rorController.register}" />
					</div>
				</div>
                <o:messages escape="false" id="messages" showDetail="true" var="message">
                    <div class="#{wu:getAlertClasses(message.severity)}" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>#{message.summary}</h4>
                        <p>#{message.detail}</p>
                    </div>
                </o:messages>
			</h:form>

		</div>
	</div>
    
    <ssc:sessionTimeoutModal />
    <h:outputScript library="webjar" name="jquery/js/jquery.min.js" />
    <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" />
    
</h:body>
</html>