<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
    xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:o="http://omnifaces.org/ui" 
    xmlns:sw="http://java.sun.com/jsf/composite/samplyShare" xmlns:wu="http://share.samply.de/webutils" xmlns:mf="http://java.sun.com/jsf/composite/mdrfaces"
    xmlns:fn="http://java.sun.com/jsp/jstl/functions"
    xmlns:ssc="http://xmlns.jcp.org/jsf/composite/samply-share-common">

<f:metadata>
    <f:viewParam name="inquiryId" value="#{inquiryController.selectedInquiryId}" />
    <f:viewAction action="#{inquiryController.loadInquiry}" onPostback="false"/>
</f:metadata>

<h:head>
    <title>#{applicationBean.getDisplayName()} - #{msg['si.inquiry']}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <h:outputStylesheet library="webjar" name="font-lato/css/font-lato.css" />
    <h:outputStylesheet library="webjar" name="bootstrap/css/bootstrap.min.css" />
    <h:outputStylesheet name="css/bootstrap-theme.min.css" />
    <h:outputStylesheet name="css/signin.css" />
    <h:outputStylesheet name="css/samplyShare.css" />
    <h:outputStylesheet library="webjar" name="samply/css/buttons.css" />
    <h:outputStylesheet library="webjar" name="font-awesome/css/font-awesome.css" />
    <h:outputScript target="body">
        maxInitValues( #{session.lastAccessedTime}, #{session.maxInactiveInterval} - 30, '#{msg.session_timeout_one}',
         '#{msg.session_timeout_two}', '#{msg.session_timeout_two_min}', '#{msg.session_timeout_one_under}'
        );
    </h:outputScript>
    <o:conditionalComment if="lt IE 9">
        <h:outputScript library="js" name="html5shiv.min.js" />
        <h:outputScript library="js" name="respond.min.js" />
    </o:conditionalComment>

</h:head>
<h:body class="background">
    <div class="page-wrapper">
        <sw:menu activePage="incomingInquiries.xhtml"></sw:menu>
        <div class="container content-container theme-showcase">
            <div class="page-header">
                <h1>
                    <ui:fragment rendered="#{empty inquiryController.selectedInquiryInfo.label}">
                    #{msg['si.noLabel']}
                    </ui:fragment>
                    <ui:fragment rendered="#{not empty inquiryController.selectedInquiryInfo.label}">
                    #{inquiryController.selectedInquiryInfo.label}
                    </ui:fragment>
                    
                    <span class="pull-right">
                        <small>
                            <h:form>
                                <h:outputLink value="incomingInquiries.xhtml" styleClass="btn btn-md btn-default" style="margin-left: 5px;">#{msg['si.backToOverview']}</h:outputLink>
                            </h:form>                       
                        </small>
                    </span>                    
                </h1>
            </div>
            
            <ui:fragment rendered="#{not empty inquiryController.selectedInquiryArchive}">
                <h4>You archived this inquiry with #{msg[inquiryController.selectedInquiryArchive.type]} on #{wu:convertTime(inquiryController.selectedInquiryArchive.archivedAt)}</h4>
                <p>#{inquiryController.selectedInquiryArchive.note}</p>
                <hr style="margin-top:5px;"/>
            </ui:fragment>            
            
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs12" style="background-color: #EEEEEE; height: 190px; overflow-y: auto; overflow-x: hidden;">
                    <h2>#{msg['si.description']}</h2>
                    <div class="row">
                        <div class="col-lg-12">
                            <p>
                            <ui:fragment rendered="#{empty inquiryController.selectedInquiryInfo.description}">
                            #{msg['si.noDescription']}
                            </ui:fragment>
                            <ui:fragment rendered="#{not empty inquiryController.selectedInquiryInfo.description}">
                            #{inquiryController.selectedInquiryInfo.description}
                            </ui:fragment>
                            </p>
                        </div>
                    </div>      
                </div>            
                <div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-12 col-xs12" style="background-color: #EEEEEE; height: 190px;">
                    <ui:include src="/components/c_contact.xhtml" />
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <h:form>
                        <div style="height: 20px;" />
                        <ui:fragment rendered="#{inquiryController.selectedInquiry.status != 'IS_ARCHIVED'}">
                            <div class="col-lg-2">
                                <h:button styleClass="btn btn-primary btn-block" value="#{msg['si.closeInquiry']}" outcome="closeInquiry">
                                    <f:param name="inquiryId" value="#{inquiryController.selectedInquiryId}" />
                                </h:button>
                            </div>
                        </ui:fragment>

                        <ui:fragment rendered="#{not empty inquiryController.selectedInquiryArchive}">
                            <div class="col-lg-2">
                                <h:commandButton id="openInquiry" value="#{msg['si.reopen']}" styleClass="btn btn-primary btn-block"
                                    action="#{inquiryController.openInquiry}" />
                            </div>
                        </ui:fragment>
                    </h:form>

                    <ui:fragment rendered="#{wu:getProjectName() == 'osse'}">
                        <div class="col-lg-2">
                            <h:form target="_blank">
                                <h:commandLink value="Show result in EDC" action="#{inquiryController.goToQueryResult()}" styleClass="btn btn-primary btn-block" />
                            </h:form>
                        </div>
                    </ui:fragment>
                </div>
            </div>

            <hr />
            <ui:include src="/components/c_criteria.xhtml" />
            
            <h:form>
                <ui:fragment rendered="#{empty inquiryController.selectedInquiryArchive}">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="checkbox">
                                <label> <h:selectBooleanCheckbox value="#{inquiryController.selectedInquiry.track}">
                                        <f:ajax listener="#{inquiryController.setTracking}" render="@this" />
                                    </h:selectBooleanCheckbox> #{msg['si.trackInquiry']}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <button class="btn btn-sm btn-primary" onclick="$('#confirmExecuteModal').modal();" type="button">#{msg['si.executeInquiry']}</button>
                        </div>
                    </div>
                </ui:fragment>             
            </h:form>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="confirmExecuteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">#{msg['si.executeInquiry']}</h4>
          </div>
          <div class="modal-body">
            #{msg['si.executeInquiryDetail']}
          </div>
          <div class="modal-footer">
          <h:form>
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">#{msg['modal.cancel']}</button>
            <h:commandLink styleClass="btn btn-sm btn-primary" value="" id="executeInquiry"
                 action="#{inquiryController.executeSelectedInquiry}">
                #{msg['modal.execute']}
            </h:commandLink>
            </h:form> 
          </div>
        </div>
      </div>
    </div>
    
    <ssc:pleaseWaitModal />
    <ssc:sessionTimeoutModal  />
    <h:outputScript library="webjar" name="bootstrap/js/bootstrap.min.js" />
    <h:outputScript name="js/samplyShare.js" />
    <script>
		$('.disabledCriteriaDiv :input').prop('disabled', true);
	</script>
</h:body>
</html>